@{
    ViewData["Title"] = "Home Page";
    Layout = null; //no utilizar el layaout
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Estilo.css" />
    <link href="~/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/font-awesome/css/solid.css" rel="stylesheet" />
    <link href="~/font-awesome/css/brands.css" rel="stylesheet" />
    <script src="https://www.youtube.com/iframe_api"></script>

    <link rel= "manifest" href="/manifest.json"/>
    <meta name="theme-color" content="#3498db"/>
</head>
<body>
    <div class="container-fluid bg-light p-4">
        <div class="row mb-4">
            <div class="col text-center mb-4">
                <h1 class="fw-bold text-white p-3 rounded shadow"
                    style="background: linear-gradient(90deg, #5d646c, #000000);">
                    Dashboard
                </h1>
                <b id="conexion"><p class="text-margin mt-1 text-success">Conectado a internet</p></b>
            </div>
        </div>

        <section class="row">
            <!--  Geolocalización -->
            <div class="col-lg-6">
                <div class="card shadow border-0 mb-4" style="background-color: #ffffff;">
                    <div class="card-header text-center bg-dark text-white">
                        <h3 class="mb-0">Geolocalización</h3>
                    </div>
                    <div class="card-body py-4 px-5">
                        <form id="geoForm" onsubmit="ejecutarConsultas(); return false;">
                            <div class="mb-4">
                                <label for="city" class="form-label text-secondary fw-bold">Ciudad</label>
                                <input type="text" id="city" class="form-control shadow-sm" placeholder="Ingresa la ciudad" required>
                            </div>
                            <div class="mb-4">
                                <label for="countryCode" class="form-label text-secondary fw-bold">Código del País</label>
                                <input type="text" id="countryCode" class="form-control shadow-sm" placeholder="Ejemplo: MX" required>
                            </div>
                            <div class="row text-center">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-dark w-100 py-2 shadow-sm">
                                        <span id="searchText">Buscar</span>
                                        <span id="loadingSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button id="datosAdicionales" type="submit" class="btn btn-dark w-100 py-2 shadow-sm disabled" onclick="obtenerPronosticoOpenMeteo()">
                                        <span id="searchText">Datos Adicionales</span>
                                        <span id="loadingSpinner" class="spinner-border spinner-border-sm d-none " role="status" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="mt-3 text-center">
                                <p id="name" class="text-success fw-bold"></p>
                            </div>

                            <input id="lat" disabled>
                            <input id="lon" disabled>
                        </form>
                    </div>
                </div>

                <!-- Google Maps -->
                <div class="card shadow border-0">
                    <div class="card-body p-3">
                        <h5 class="text-center text-white fw-bold">Ubicación en el Mapa</h5>
                        <iframe id="frameGoogleMaps" class="w-100 rounded shadow" height="300" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>           

            <!--  API Climatológica -->
            <div class="col-lg-6">
                <div class="card shadow border-0" style="background-color: #f8f9fa;">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>API Climatológica</h3>
                    </div>
                    <div class="card-body p-4">
                        <!-- Información general -->
                        <div class="row">
                            <div class="col text-center">
                                <h4 id="Ciudad" class="text-primary fw-bold"></h4>
                                <p id="FechaHora" class="text-muted"></p>
                            </div>
                        </div>

                        <!-- Pronóstico del clima -->
                        <div class="row mt-4">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead class="bg-dark text-white">
                                            <tr>
                                                <th>Detalle</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Ciudad</td>
                                                <td><p id="nombreciudad"></p></td>
                                            </tr>
                                            <tr>
                                                <td>Descripción</td>
                                                <td><p id="descripcion"></p></td>
                                            </tr>
                                            <tr>
                                                <td>Imagen</td>
                                                <td><img id="imagen" class="img-fluid" /></td>
                                            </tr>
                                            <tr>
                                                <td>Temperatura</td>
                                                <td><p id="temp"></p></td>
                                            </tr>
                                            <tr>
                                                <td>Nubosidad</td>
                                                <td><p id="nubocidad"></p></td>
                                            </tr>
                                            <tr>
                                                <td>Viento</td>
                                                <td><p id="viento"></p></td>
                                            </tr>
                                            <tr>
                                                <td>Humedad</td>
                                                <td><p id="humedad"></p></td>
                                            </tr>
                                            <tr>
                                                <td>Amanecer</td>
                                                <td><p id="amanecer"></p></td>
                                            </tr>
                                            <tr>
                                                <td>Ocaso</td>
                                                <td><p id="ocaso"></p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="row mt-4">
            <div class="col">
                <div class="card shadow border-0" id="precGasolina">
                    <div class="card-body text-center">
                        <h5 class="text-white fw-bold">Precios de Gasolina</h5>
                        <iframe id="frameGasolinas" class="w-100 rounded" height="200" style="border: 0;"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 col-md-6 col-lg-8">
                <div class="card shadow border-0">
                    <div id="youtubePlayerContainer" class="video-container">
                        <div id="player"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card shadow-lg border-0 rounded-3">
                    <div class="card-body text-center">
                        <h5 class="card-title text-white fw-bold mb-4" style="font-size: 1.25rem;">Web API Conversor de Divisas</h5>
                        <p class="card-text text-muted mb-4" style="font-size: 1rem;">Convierte divisas en tiempo real de manera sencilla.</p>
                        <button class="btn btn-dark px-4 mb-2 py-2 shadow-sm hover-shadow" data-bs-toggle="modal" data-bs-target="#exampleModal" style="transition: all 0.3s ease-in-out;">
                            Consultar
                        </button>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-12 mt-5">
            <div class="card shadow border-0 mb-4" style="background-color: #ffffff;">
                <div class="card-header text-center bg-dark text-white">
                    <h3 class="mb-0">Fotografía</h3>
                </div>
                <div class="card-body py-4 px-5">
                    <p class="fs-5 text-center">Captura y visualiza tus fotos</p>

                    <div class="row justify-content-center">
                        <div class="col-md-5 d-flex flex-column align-items-center">
                            <video id="video" style="border: solid 2px; width: 100%; max-width: 250px;"></video>
                        </div>
                        <div class="col-md-5 d-flex flex-column align-items-center">
                            <div class="controls text-center mb-3">
                                <a href="#" id="btnDeleteImage" title="Eliminar Foto" class="disabled me-3">
                                    <i class="fa-solid fa-trash-can fa-lg" style="color: #37586d;"></i>
                                </a>
                                <a href="#" id="startbutton" title="Tomar Foto" class="me-3">
                                    <i class="fa-solid fa-camera fa-lg" style="color: #37586d;"></i>
                                </a>
                                <a href="#" id="btnDownloadImage" title="Descargar Imagen" class="disabled">
                                    <i class="fa-solid fa-circle-arrow-down fa-lg" style="color: #37586d;"></i>
                                </a>
                            </div>

                            <canvas id="canvas" style="border: solid 2px; width: 100%; max-width: 250px;"></canvas>
                            <br /><br />
                            <img src="~/images/balon.jpeg" id="photo" alt="photo" style="max-width: 100%; max-height: 200px; object-fit: cover;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        

    </div>

    <!-- Modal -->
    <!-- Modal para seleccionar divisas y cantidad -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="convertModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-black">
                    <h1 class="modal-title fs-5" id="convertModalLabel">Conversor de Divisas</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario de conversión -->
                    <div class="mb-3">
                        <label for="fromCurrency" class="form-label">Moneda Origen</label>
                        <select class="form-select" id="fromCurrency">
                            <!-- Opciones de monedas -->
                            <option value="ARS">Peso Argentino</option>
                            <option value="AUD">Dólar Australiano</option>
                            <option value="BRL">Real Brasileño</option>
                            <option value="CAD">Dólar Canadiense</option>
                            <option value="CNY">Yuan Chino</option>
                            <option value="EUR">Euro</option>
                            <option value="GBP">Libra Esterlina</option>
                            <option value="INR">Rupee Indio</option>
                            <option value="JPY">Yen Japonés</option>
                            <option value="MXN">Peso Mexicano</option>
                            <option value="USD">Dólar Estadounidense</option>
                            <!-- Agregar más monedas según sea necesario -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="toCurrency" class="form-label">Moneda Destino</label>
                        <select class="form-select" id="toCurrency">
                            <!-- Opciones de monedas -->
                            <option value="ARS">Peso Argentino</option>
                            <option value="AUD">Dólar Australiano</option>
                            <option value="BRL">Real Brasileño</option>
                            <option value="CAD">Dólar Canadiense</option>
                            <option value="CNY">Yuan Chino</option>
                            <option value="EUR">Euro</option>
                            <option value="GBP">Libra Esterlina</option>
                            <option value="INR">Rupee Indio</option>
                            <option value="JPY">Yen Japonés</option>
                            <option value="MXN">Peso Mexicano</option>
                            <option value="USD">Dólar Estadounidense</option>
                            <!-- Agregar más monedas según sea necesario -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">Cantidad a Convertir</label>
                        <input type="number" class="form-control" id="amount" placeholder="Ingrese la cantidad" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" onclick="consumirApiConversor();" id="calculateBtn">Calcular</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para mostrar el resultado de la conversión -->
    <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-black">
                    <h1 class="modal-title fs-5" id="resultModalLabel">Resultado de la Conversión</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-bg-dark" id="conversionResult"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/DatosController.js"></script>   

    <script>
        if (navigator.serviceWorker) {
            navigator.serviceWorker.register('/sw.js').then(res => {
                console.log("se registro service worker")
            }).catch(err => {
                console.log("No se registro service worker")
            })
        }else{
            console.log("El navegador no soporta service worker")
        }
        
    </script>


    @*----TOAST--------------------------------------------------*@
    <div aria-live="polite" aria-atomic="true">
        <div class="toast-container top-50 start-50 translate-middle p-3">
            <div class="toast align-items-center text-bg-primary border-white">
                <div class="toast-body">
                    <div id="msjnotif" class="text-center"></div>
                </div>
            </div>
        </div>
    </div>
    @Html.Raw(ViewBag.MsjJavaScript)
    @Html.Raw(ViewBag.MuestraToast)

</body>
</html>